/* Reset CSS */
/* Couleurs principales */
:root {
    --bleu-1: #034f84;
    --bleu-2: #1a759f;
    --bleu-3: #4db0c1;
    --bleu-4: #88c5d9;
    --gris-1: #2c2f33;
    --gris-2: #5b5f63;
    --gris-3: #99a1a8;
    --gris-4: #d0d5d8;
    --orange: #f5a623;
    --blanc: #ffffff;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #1c2331;
    padding: 20px;
}

.title {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

/* Main */
.main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
}

.form-section {
    flex: 1;
    margin-right: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #1c2331;
}

.form-input {
    display: block;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #1c2331;
    font-size: 1.2em;
    color: #333;
}

.form-input:focus {
    outline: none;
    border-color: #00bfff;
}

.form-btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #00bfff;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.form-check-input{
    margin-right: 5px;
    cursor: pointer;
    width: 100%;
    height: 20px;
}
    


.form-select {
    display: block;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #1c2331;
    font-size: 1.2em;
    color: #333;
}
.result-section {
    margin-top: 20px;
}

.result-label {
    font-size: 1.2em;
    font-weight: bold;
    color: #1c2331;
}

.result {
    font-size: 2em;
    color: #00bfff;
}

.map-section {
    flex: 1;
    height: 1000px;
}

.map {
    height: 100%;
    width: 600px
}

/* Footer */
.footer {
    background-color: #1c2331;
    padding: 10px;
    margin-top: 40px;
}

.footer-text {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

/* Tableau */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top : 20px;
  }
  
  table th {
    background-color: var(--bleu-1);
    color: var(--blanc);
    text-align: left;
    padding: 10px;
  }
  
  table td {
    border: 1px solid var(--gris-3);
    padding: 10px;
  }
  
  table tr:nth-child(even) {
    background-color: var(--gris-4);
  }
  
  table tr:nth-child(odd) {
    background-color: var(--blanc);
  }